@import "base_mob.css";
.warp {
  width: 100%;
  height: auto;
  padding-bottom: 0.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; /*清除点击高亮效果*/
  .babymess {
    width: 100%;
    padding-bottom:50/37.5rem;
    ::-webkit-input-placeholder {
      font-size: 13/37.5rem;
      color: #999;
    }
    ::-moz-placeholder {
      font-size: 13/37.5rem;
      color: #999;
    }
    /* firefox 19+ */
    :-ms-input-placeholder {
      font-size: 13/37.5rem;
      color: #999;
    }
    /* ie */
    input:-moz-placeholder {
      font-size: 13/37.5rem;
      color: #999;
    }
    .titlebaby {
      padding: 36/37.5rem 50/37.5rem 30/37.5rem;
      .lineSpan {
        display: block;
        width: 2/37.5rem;
        height: 14/37.5rem;
        margin-top: 3/37.5rem;
        background-color: #63A431;
      }
      .tit_txt {
        padding-left: 6/37.5rem;
        font-size: 14/37.5rem;
        line-height: 20/37.5rem;
        color: #333333;
      }
    }
    .baby_ul {
      width: 100%;
      padding: 0 50/37.5rem;
      .babylist {
        padding-bottom: 18/37.5rem;
        margin-bottom: 18/37.5rem;
        border-bottom: 1px solid #DDDDDD;
        .name {
          color: #666666;
          font-size:13/37.5rem;
          line-height: 18/37.5rem;
        }
        .required {
          width:70%;
          color: #333;
          padding-left: 40/37.5rem;
          font-size:13/37.5rem;
          line-height: 18/37.5rem;
        }
        //性别
        .con {
          width:85%;
          padding-left: 40/37.5rem;
          .radio {
            float: left;
            color: #999;
            margin-right: 28/37.5rem;
            font-size:13/37.5rem;
            line-height: 18/37.5rem;
            .option {
              position: absolute;
              top: 1/37.5rem;
              left: 0;
              width: 17/37.5rem;
              height: 17/37.5rem;
              background: url(../images/hyzicon/read_ico.png) no-repeat;
              background-size: cover;
            }
          }
          .radio input[type=radio]:checked+div {
            background: url(../images/hyzicon/read_ico2.png) no-repeat;
            background-size: cover;
          }
          label {
            position: relative;
            display: block;
            width: 100%;
            line-height: 18/37.5rem;
          }
          .radio input[type=radio] {
            display: inline-block;
            margin-right: 5px;
            opacity: 0;
            -webkit-appearance: radio;
            box-sizing: border-box;
          }

        }
        //生日
        .baby_bri {
          padding-left: 40/37.5rem;
          width:70%;
          color: #333;
          font-size: 13/37.5rem;
          line-height: 18/37.5rem;
        }
        //关系选择
        .con_sele {
          float: left;
          width: 75%;
          padding-left: 40/37.5rem;
          select {
            float: left;
            width: 100%;
            line-height: 18/37.5rem;
            border: 0 none;
            outline: none;
            font-size: 13/37.5rem;
            color: #333;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            background-color: rgba(255,255,255,0);
          }
        }
      }
    }
    .line_f {
      width: 100%;
      height: 6/37.5rem;
      background-color: #F2F2F2;
    }
    .phone_ul {
      width: 100%;
      padding: 30/37.5rem 50/37.5rem;
      .phone_li {
        padding-bottom: 18/37.5rem;
        margin-bottom: 18/37.5rem;
        border-bottom: 1px solid #DDDDDD;
        .name {
          color: #666666;
          font-size:13/37.5rem;
          line-height: 18/37.5rem;
        }
        .contact {
          float: left;
          width: 75%;
          padding-left: 15/37.5rem;
          position: relative;
          .phone_input {
            width: 100%;
            color: #333;
            font-size:13/37.5rem;
            line-height: 18/37.5rem;
          }
          .phone_num {
            width: 100%;
            color: #333;
            font-size:13/37.5rem;
            line-height: 18/37.5rem;
            padding-left: 15/37.5rem;
          }
          .getyzm {
            display: block;
            position: absolute;
            top: -6/37.5rem;
            right: -15/37.5rem;
            width: 89/37.5rem;
            height: 30/37.5rem;
            color: #fff;
            font-size: 12/37.5rem;
            text-align: center;
            line-height: 30/37.5rem;
            background-color: #0099FF;
            -webkit-border-radius: 15/37.5rem;
            -moz-border-radius: 15/37.5rem;
            -ms-border-radius: 15/37.5rem;
            -o-border-radius: 15/37.5rem;
            border-radius: 15/37.5rem;
          }
        }
      }
      .connum {
        width: 100%;
        margin-top: -10/37.5rem;
        p {
          text-align: right;
          color: #FF1313;
          font-size: 10/37.5rem;
        }
      }
    }
    .comBtn {
      display: block;
      margin: 0 auto;
      width: 224/37.5rem;
      height: 42/37.5rem;
      color: #fff;
      font-size: 14/37.4rem;
      line-height: 42/37.5rem;
      text-align: center;
      background-color: #DDDDDD;
      -webkit-border-radius: 50/37.5rem;
      -moz-border-radius: 50/37.5rem;
      -ms-border-radius: 50/37.5rem;
      -o-border-radius: 50/37.5rem;
      border-radius: 50/37.5rem;
    }
    .comBtnOrange {
      display: block;
      margin: 0 auto;
      width: 224/37.5rem;
      height: 42/37.5rem;
      color: #fff;
      font-size: 14/37.4rem;
      line-height: 42/37.5rem;
      text-align: center;
      background-color: #FF530B;
      -webkit-border-radius: 50/37.5rem;
      -moz-border-radius: 50/37.5rem;
      -ms-border-radius: 50/37.5rem;
      -o-border-radius: 50/37.5rem;
      border-radius: 50/37.5rem;
    }
  }
}