@import "base_mob.css";
html,
body {
  position: relative;
  height: 100%;
}
html {
  overflow: hidden;
}
.coverLayer {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.coverLayer .layerText {
  text-align: center;
  padding: 3rem 0 1rem;
  font-size: 0.44rem;
  color: #fff;
}
@keyframes moveToLeft {
  to {
    -webkit-transform: translateX(-100%);
    transform: translateY(-100%);
    transform: translateX(-100%);
  }
}
.coverLayer .layerImg {
  display: block;
  width: 30%;
  margin-left: 5rem;
  animation: moveToLeft ease-in-out 1.5s infinite alternate;
}
.coverLayer .layerBtn {
  width: 50%;
  padding: 0.2rem 0;
  margin: 3rem auto 0.4rem;
  text-align: center;
  max-width: 540px;
  -webkit-border-radius: 0.13333333rem;
  -moz-border-radius: 0.13333333rem;
  -ms-border-radius: 0.13333333rem;
  border-radius: 0.13333333rem;
  border: 0.02666667rem solid #ffffff;
}
.coverLayer .layerBtn a {
  color: #fff;
  font-size: 0.4rem;
}
.gar_nature {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.gar_nature .nature {
  width: 100%;
  height: 100%;
  position: relative;
}
.gar_nature .nature .nature_sele {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 0.53333333rem;
  background-color: #F3F3F3;
}
.gar_nature .nature .nature_sele .nature_tit {
  width: 100%;
  background-color: #FFFFFF;
  padding: 0.4rem 0.8rem;
}
.gar_nature .nature .nature_sele .nature_tit h3 {
  color: #666666;
  font-size: 0.34666667rem;
  line-height: 0.48rem;
}
.gar_nature .nature .nature_sele .nature_tit .sureBut {
  width: 1.86666667rem;
  text-align: right;
  color: #0099FF;
  font-size: 0.34666667rem;
  line-height: 0.48rem;
}
.gar_nature .nature .nature_sele .record_ul {
  padding: 0 0.53333333rem;
}
.gar_nature .nature .nature_sele .record_ul .record_list {
  padding: 0.4rem;
  border-bottom: 1px solid #DDDDDD;
}
.gar_nature .nature .nature_sele .record_ul .record_list p {
  color: #333333;
  font-size: 0.34666667rem;
  line-height: 0.53333333rem;
  background: url("../images/hyzicon/graydui.png") no-repeat right center;
  background-size: 0.48rem 0.48rem;
}
.gar_nature .nature .nature_sele .record_ul .current_list p {
  color: #333333;
  font-size: 0.34666667rem;
  line-height: 0.53333333rem;
  background: url("../images/hyzicon/curdui.png") no-repeat right center;
  background-size: 0.48rem 0.48rem;
}
.gar_nature .nature .nature_sele .record_ul .record_norbor {
  border-bottom: none;
}
.sub_pages {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.sub_pages .sub_box {
  width: 100%;
  height: 100%;
  padding: 0 1.17333333rem;
  position: relative;
}
.sub_pages .sub_box .box_con {
  width: 100%;
  padding-top: 4rem;
}
.sub_pages .sub_box .box_con .care_tit {
  padding: 0.56rem 0 0.29333333rem;
  text-align: center;
  color: #fff;
  font-size: 0.53333333rem;
  line-height: 0.74666667rem;
  -webkit-border-radius: 0.10666667rem 0.10666667rem 0 0;
  -moz-border-radius: 0.10666667rem 0.10666667rem 0 0;
  -ms-border-radius: 0.10666667rem 0.10666667rem 0 0;
  -o-border-radius: 0.10666667rem 0.10666667rem 0 0;
  border-radius: 0.10666667rem 0.10666667rem 0 0;
  background-image: -webkit-linear-gradient(90deg, #ff9127 0%, #ff530b 100%);
  background-image: -moz-linear-gradient(90deg, #ff9127 0%, #ff530b 100%);
  background-image: -ms-linear-gradient(90deg, #ff9127 0%, #ff530b 100%);
  background-image: -o-linear-gradient(90deg, #ff9127 0%, #ff530b 100%);
  background-image: linear-gradient(90deg, #ff9127 0%, #ff530b 100%);
}
.sub_pages .sub_box .box_con .care_con {
  padding: 0.61333333rem 0.69333333rem 1.2rem;
  background-color: #fff;
}
.sub_pages .sub_box .box_con .care_con p {
  text-align: center;
  color: #333;
  font-size: 0.34666667rem;
  line-height: 0.69333333rem;
}
.sub_pages .sub_box .box_con .care_ul {
  width: 100%;
  height: 1.17333333rem;
  background-color: #F3F3F3;
  -webkit-border-radius: 0 0 0.10666667rem 0.10666667rem;
  -moz-border-radius: 0 0 0.10666667rem 0.10666667rem;
  -ms-border-radius: 0 0 0.10666667rem 0.10666667rem;
  -o-border-radius: 0 0 0.10666667rem 0.10666667rem;
  border-radius: 0 0 0.10666667rem 0.10666667rem;
}
.sub_pages .sub_box .box_con .care_ul .care_li {
  float: left;
  width: 50%;
  text-align: center;
  line-height: 1.17333333rem;
  font-size: 0.37333333rem;
}
.sub_pages .sub_box .box_con .care_ul .again_look {
  color: #666;
  border-right: 2px solid #fff;
}
.sub_pages .sub_box .box_con .care_ul .deter_sun {
  color: #FF530B;
}
.teach_idea {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.teach_idea .idea_box {
  width: 100%;
  height: 100%;
  padding: 3.46666667rem 1.86666667rem 0.53333333rem;
}
.teach_idea .idea_box .idea_tit {
  color: #fff;
  font-size: 0.53333333rem;
  line-height: 0.74666667rem;
  text-align: center;
  padding-bottom: 0.37333333rem;
}
.teach_idea .idea_box .idea_con {
  color: #fff;
  font-size: 0.37333333rem;
  line-height: 0.69333333rem;
  text-align: center;
  padding-bottom: 3.2rem;
}
.teach_idea .idea_box .idea_close {
  display: block;
  width: 0.96rem;
  height: 0.96rem;
  margin: 0 auto;
}
.training_target {
  display: none;
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
}
.training_target .idea_box {
  width: 100%;
  height: 100%;
  padding: 3.46666667rem 1.86666667rem 0.53333333rem;
}
.training_target .idea_box .target_tit {
  color: #fff;
  font-size: 0.53333333rem;
  line-height: 0.74666667rem;
  text-align: center;
  padding-bottom: 0.37333333rem;
}
.training_target .idea_box .target_con {
  color: #fff;
  font-size: 0.37333333rem;
  line-height: 0.69333333rem;
  text-align: left;
  padding-bottom: 3.2rem;
}
.training_target .idea_box .target_close {
  display: block;
  width: 0.96rem;
  height: 0.96rem;
  margin: 0 auto;
}
#top {
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  background: #fff;
  transform: translateY(0) !important;
}
#nav {
  border-bottom: 1px solid #ebebeb;
  -webkit-box-shadow: 0 0 0.32rem 0 rgba(218, 218, 218, 0.5);
  -mos-box-shadow: 0 0 0.32rem 0 rgba(218, 218, 218, 0.5);
  -ms-box-shadow: 0 0 0.32rem 0 rgba(218, 218, 218, 0.5);
  -o-box-shadow: 0 0 0.32rem 0 rgba(218, 218, 218, 0.5);
  box-shadow: 0 0 0.32rem 0 rgba(218, 218, 218, 0.5);
}
#nav .swiper-slide span {
  margin: 0.34666667rem 0;
  text-align: center;
  display: block;
  line-height: 0.53333333rem;
  font-size: 0.37333333rem;
  color: #999999;
}
#nav .bar {
  width: 1.65333333rem;
  height: 0.05333333rem;
  position: absolute;
  bottom: 0px;
}
#nav .bar .color {
  width: 1.65333333rem;
  height: 0.05333333rem;
  margin: 0 auto;
  background: #ff530b;
}
#page {
  margin-bottom: 1.33333333rem;
  height: 100%;
}
#page .slidepage {
  height: 100%;
}
.scroll {
  height: 100%;
}
.slidepage .basics {
  padding: 0 0.53333333rem 2.88rem !important;
}
.slidepage .basics .basics_top {
  width: 100%;
  height: 0.8rem;
  background-color: #FFF7F4;
  padding: 0 0.21333333rem;
  -webkit-border-radius: 0.10666667rem;
  -moz-border-radius: 0.10666667rem;
  -ms-border-radius: 0.10666667rem;
  -o-border-radius: 0.10666667rem;
  border-radius: 0.10666667rem;
}
.slidepage .basics .basics_top .top_p {
  text-align: right;
  font-size: 10px;
  color: #FF530B;
  position: relative;
  line-height: 0.8rem;
}
.slidepage .basics .basics_top .top_p span {
  position: absolute;
  right: 1.92rem;
  top: 0.34666667rem;
  display: block;
  width: 0.13333333rem;
  height: 0.13333333rem;
  background-image: url("../images/hyzicon/star.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.slidepage .basics .basics_ul {
  width: 100%;
  /* firefox 19+ */
  /* ie */
}
.slidepage .basics .basics_ul ::-webkit-input-placeholder {
  font-size: 0.34666667rem;
  color: #999;
}
.slidepage .basics .basics_ul ::-moz-placeholder {
  font-size: 0.34666667rem;
  color: #999;
}
.slidepage .basics .basics_ul :-ms-input-placeholder {
  font-size: 0.34666667rem;
  color: #999;
}
.slidepage .basics .basics_ul input:-moz-placeholder {
  font-size: 0.34666667rem;
  color: #999;
}
.slidepage .basics .basics_ul .basics_li {
  position: relative;
  padding: 0.48rem 0;
  border-bottom: 1px solid #DDDDDD;
}
.slidepage .basics .basics_ul .basics_li .basics_label {
  display: block;
  float: left;
  width: 20%;
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
}
.slidepage .basics .basics_ul .basics_li .basics_width {
  display: block;
  float: left;
  width: 28%;
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
}
.slidepage .basics .basics_ul .basics_li .basics_width1 {
  display: block;
  float: left;
  width: 25%;
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
}
.slidepage .basics .basics_ul .basics_li .acre_width {
  float: left;
  width: 65%;
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
}
.slidepage .basics .basics_ul .basics_li .basics_render {
  float: left;
  width: 75%;
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
}
.slidepage .basics .basics_ul .basics_li .basics_acre {
  float: left;
  width: 60%;
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
}
.slidepage .basics .basics_ul .basics_li .square {
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
}
.slidepage .basics .basics_ul .basics_li .basics_text {
  float: left;
  width: 75%;
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
  position: relative;
}
.slidepage .basics .basics_ul .basics_li .basics_text .basics_intr {
  display: block;
  width: 100%;
  height: 0.48rem;
}
.slidepage .basics .basics_ul .basics_li .cell-right {
  float: left;
  width: 75%;
  font-size: 0.34666667rem;
  color: #333;
  position: relative;
}
.slidepage .basics .basics_ul .basics_li .cell-right .basics_add {
  display: block;
  width: 100%;
  height: 0.66666667rem;
  margin-top: -0.05333333rem;
}
.slidepage .basics .basics_ul .basics_li .cell-right .add_deta {
  padding-top: 0.34666667rem;
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
  display: block;
  width: 100%;
}
.slidepage .basics .basics_ul .basics_li .cell-right .add_deta .deta_text {
  display: block;
  width: 100%;
  height: 0.48rem;
}
.slidepage .basics .basics_ul .basics_li .basics_teach {
  float: left;
  width: 65%;
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
  position: relative;
}
.slidepage .basics .basics_ul .basics_li .basics_teach .exam_text {
  display: block;
  width: 100%;
  height: 0.48rem;
}
.slidepage .basics .basics_ul .basics_li .star_pos {
  position: absolute;
  top: 0.64rem;
  right: 0;
  display: block;
  width: 0.13333333rem;
  height: 0.13333333rem;
  background-image: url("../images/hyzicon/star.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.slidepage .basics .basics_ul .flie_img {
  position: relative;
  padding: 0.48rem 0;
  border-bottom: 1px solid #DDDDDD;
}
.slidepage .basics .basics_ul .flie_img .img_title {
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
}
.slidepage .basics .basics_ul .flie_img .prompt_img {
  padding-top: 0.48rem;
  font-size: 0.26666667rem;
  line-height: 0.37333333rem;
  color: #FF530B;
  text-align: right;
}
.slidepage .basics .basics_ul .flie_activ {
  position: relative;
  padding: 0.48rem 0;
}
.slidepage .basics .basics_ul .flie_activ .img_title {
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
}
.slidepage .basics .basics_ul .flie_activ .prompt_img {
  padding-top: 0.48rem;
  font-size: 0.26666667rem;
  line-height: 0.37333333rem;
  color: #FF530B;
  text-align: right;
}
.slidepage .basics .basics_ul .flie_activ .basics_activ {
  padding-top: 18px;
  width: 100%;
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
  position: relative;
}
.slidepage .basics .basics_ul .flie_activ .basics_activ .exam_text {
  display: block;
  width: 100%;
  min-height: 0.96rem;
  height: 0.96rem;
}
.slidepage .basics .basics_ul .flie_activ .basics_activ .exam_height {
  display: block;
  width: 100%;
  min-height: 0.48rem;
  height: 0.48rem;
}
.slidepage .basics .basics_ul .flie_activ .basics_activ .exam_you {
  display: block;
  width: 100%;
  min-height: 1.92rem;
  height: 1.94666667rem;
}
.slidepage .act_intr {
  padding: 0 0.53333333rem 2.88rem !important;
}
.slidepage .act_intr .basics_top {
  width: 100%;
  height: 0.8rem;
  background-color: #FFF7F4;
  padding: 0 0.21333333rem;
  -webkit-border-radius: 0.10666667rem;
  -moz-border-radius: 0.10666667rem;
  -ms-border-radius: 0.10666667rem;
  -o-border-radius: 0.10666667rem;
  border-radius: 0.10666667rem;
}
.slidepage .act_intr .basics_top .top_p {
  text-align: right;
  font-size: 10px;
  color: #FF530B;
  position: relative;
  line-height: 0.8rem;
}
.slidepage .act_intr .basics_top .top_p span {
  position: absolute;
  right: 1.92rem;
  top: 0.34666667rem;
  display: block;
  width: 0.13333333rem;
  height: 0.13333333rem;
  background-image: url("../images/hyzicon/star.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.slidepage .act_intr .intr_ul {
  width: 100%;
  /* firefox 19+ */
  /* ie */
}
.slidepage .act_intr .intr_ul ::-webkit-input-placeholder {
  font-size: 0.34666667rem;
  color: #999;
}
.slidepage .act_intr .intr_ul ::-moz-placeholder {
  font-size: 0.34666667rem;
  color: #999;
}
.slidepage .act_intr .intr_ul :-ms-input-placeholder {
  font-size: 0.34666667rem;
  color: #999;
}
.slidepage .act_intr .intr_ul input:-moz-placeholder {
  font-size: 0.34666667rem;
  color: #999;
}
.slidepage .act_intr .intr_ul .flie_img {
  position: relative;
  padding: 0.48rem 0;
  border-bottom: 1px solid #DDDDDD;
}
.slidepage .act_intr .intr_ul .flie_img .img_title {
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
}
.slidepage .act_intr .intr_ul .flie_img .prompt_img {
  padding-top: 0.48rem;
  font-size: 0.26666667rem;
  line-height: 0.37333333rem;
  color: #FF530B;
  text-align: right;
}
.slidepage .act_intr .intr_ul .flie_activ {
  position: relative;
  padding: 0.48rem 0;
}
.slidepage .act_intr .intr_ul .flie_activ .img_title {
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
}
.slidepage .act_intr .intr_ul .flie_activ .prompt_img {
  padding-top: 0.48rem;
  font-size: 0.26666667rem;
  line-height: 0.37333333rem;
  color: #FF530B;
  text-align: right;
}
.slidepage .act_intr .intr_ul .flie_activ .star_posstar {
  position: absolute;
  top: 0.64rem;
  right: 0;
  display: block;
  width: 0.21333333rem;
  height: 0.21333333rem;
  background-image: url("../images/hyzicon/star.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
}
.slidepage .act_intr .intr_ul .flie_activ .basics_activ {
  padding-top: 18px;
  padding-left: 0.53333333rem;
  padding-right: 0.53333333rem;
  width: 100%;
  line-height: 0.48rem;
  font-size: 0.34666667rem;
  color: #333;
  position: relative;
}
.slidepage .act_intr .intr_ul .flie_activ .basics_activ .exam_text {
  display: block;
  width: 100%;
  min-height: 0.96rem;
  height: 0.96rem;
}
.slidepage .act_intr .intr_ul .flie_activ .basics_activ .exam_height {
  display: block;
  width: 100%;
  min-height: 0.48rem;
  height: 0.48rem;
}
.slidepage .act_intr .intr_ul .flie_activ .basics_activ .exam_you {
  display: block;
  width: 100%;
  min-height: 1.92rem;
  height: 1.94666667rem;
}
.slidepage .sample_menu {
  padding: 0 0.53333333rem 2.88rem !important;
}
.slidepage .sample_menu .menu_week {
  width: 100%;
}
.slidepage .sample_menu .menu_week .menu_div {
  padding: 0.4rem 0.26666667rem;
  background-color: #F3F3F3;
}
.slidepage .sample_menu .menu_week .week_num {
  font-size: 0.37333333rem;
  color: #333;
  line-height: 0.53333333rem;
}
.slidepage .sample_menu .menu_week .expand_btn {
  font-size: 0.32rem;
  color: #333;
  line-height: 0.45333333rem;
  background: url("../images/hyzicon/expand_btn.png") no-repeat right;
  background-size: 0.4rem 0.4rem;
  padding-right: 0.53333333rem;
}
.slidepage .sample_menu .menu_week .active_side {
  padding: 0.4rem 0.26666667rem;
  background-color: #F3F3F3;
}
.slidepage .sample_menu .menu_week .active_side .week_num {
  font-size: 0.37333333rem;
  color: #FF530B;
  line-height: 0.53333333rem;
}
.slidepage .sample_menu .menu_week .active_side .expand_btn {
  font-size: 0.32rem;
  color: #FF530B;
  line-height: 0.45333333rem;
  background: url("../images/hyzicon/oraex_btn.png") no-repeat right;
  background-size: 0.4rem 0.4rem;
  padding-right: 0.53333333rem;
}
.slidepage .sample_menu .menu_week .food_li {
  display: none;
  padding: 0.48rem 0.26666667rem;
  border: 1px solid #DDDDDD;
  border-top: none;
}
.slidepage .sample_menu .menu_week .food_li .food_label {
  width: 15%;
  font-size: 0.34666667rem;
  color: #333;
  line-height: 0.48rem;
}
.slidepage .sample_menu .menu_week .food_li .food_render {
  width: 84%;
  line-height: 0.48rem;
}
.examples {
  position: absolute;
  top: 0.45333333rem;
  right: 0;
  display: block;
  width: 0.96rem;
  height: 0.53333333rem;
  color: #fff;
  font-size: 0.26666667rem;
  line-height: 0.53333333rem;
  text-align: center;
  -webkit-border-radius: 0.10666667rem;
  -moz-border-radius: 0.10666667rem;
  -ms-border-radius: 0.10666667rem;
  -o-border-radius: 0.10666667rem;
  border-radius: 0.10666667rem;
  background-color: #999999;
}
.intt_examples {
  position: absolute;
  top: 0.45333333rem;
  right: 0.48rem;
  display: block;
  width: 0.96rem;
  height: 0.53333333rem;
  color: #fff;
  font-size: 0.26666667rem;
  line-height: 0.53333333rem;
  text-align: center;
  -webkit-border-radius: 0.10666667rem;
  -moz-border-radius: 0.10666667rem;
  -ms-border-radius: 0.10666667rem;
  -o-border-radius: 0.10666667rem;
  border-radius: 0.10666667rem;
  background-color: #999999;
}
.slidescroll {
  height: auto;
}
.container {
  width: 100%;
  height: 100%;
  padding: 0.48rem 0.66666667rem 0 0.74666667rem;
}
.z_photo {
  margin-left: -0.32rem;
}
.z_photo .img_list {
  width: 2.24rem;
  height: 2.24rem;
}
.addimg_par {
  float: left;
  width: 2.24rem;
  height: 2.24rem;
  position: relative;
  margin-left: 0.32rem;
  margin-bottom: 0.32rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0.32rem 0 rgba(218, 218, 218, 0.5);
  -mos-box-shadow: 0 0 0.32rem 0 rgba(218, 218, 218, 0.5);
  -ms-box-shadow: 0 0 0.32rem 0 rgba(218, 218, 218, 0.5);
  -o-box-shadow: 0 0 0.32rem 0 rgba(218, 218, 218, 0.5);
  box-shadow: 0 0 0.32rem 0 rgba(218, 218, 218, 0.5);
}
.z_addImg {
  width: 2.24rem;
  height: 2.24rem;
  overflow: hidden;
  position: relative;
  background-color: #EEEEEE;
}
.close_icon {
  position: absolute;
  right: -0.37333333rem;
  top: -0.37333333rem;
  width: 0.74666667rem;
  height: 0.74666667rem;
  z-index: 2;
}
.z_addImg .img_list {
  width: 100%;
  height: auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
}
.z_file {
  width: 2.24rem;
  height: 2.24rem;
  background: url(../images/hyzicon/z_add.png) no-repeat center;
  background-size: 0.96rem 0.96rem;
  float: left;
  margin-left: 0.32rem;
  background-color: #EEEEEE;
}
.z_file input::-webkit-file-upload-button {
  width: 1rem;
  height: 1rem;
  border: none;
  position: absolute;
  outline: 0;
  opacity: 0;
}
.z_file input {
  width: 2.24rem;
  height: 2.24rem;
  display: block;
  color: rgba(255, 255, 255, 0);
  vertical-align: middle;
}
/*遮罩层*/
.z_mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: none;
}
.z_alert {
  width: 3rem;
  height: 2rem;
  border-radius: .2rem;
  background: #fff;
  font-size: .24rem;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -1.5rem;
  margin-top: -2rem;
}
.z_alert p:nth-child(1) {
  line-height: 1.5rem;
}
.z_alert p:nth-child(2) span {
  display: inline-block;
  width: 49%;
  height: .5rem;
  line-height: .5rem;
  float: left;
  border-top: 1px solid #ddd;
}
.z_cancel {
  border-right: 1px solid #ddd;
}
.footer {
  width: 100%;
  position: fixed;
  max-width: 540px;
  z-index: 10;
  bottom: 0;
  height: 1.44rem;
  border-top: 0.02666667rem solid #eeeeee;
  background-color: #fff;
}
.footer .footer_nav {
  width: 100%;
  height: 100%;
}
.footer .footer_nav .nav_li {
  float: left;
  width: 50%;
  height: 100%;
}
.footer .footer_nav .nav_li .nav_text {
  color: #333333;
  font-size: 0.37333333rem;
  line-height: 0.53333333rem;
}
.footer .footer_nav .nav_pad {
  padding: 0.45333333rem 0;
}
.footer .footer_nav .nav_pad .nav_text {
  color: #333333;
  font-size: 0.37333333rem;
  line-height: 0.53333333rem;
  border-right: 1px solid #DDDDDD;
  background: url("../images/hyzicon/look1.png") no-repeat 2.13333333rem center;
  background-size: 0.42666667rem 0.42666667rem;
  padding-left: 2.66666667rem;
}
.footer .footer_nav .nav_sub {
  text-align: center;
  background-color: #dddddd;
}
.footer .footer_nav .nav_sub .nav_text {
  color: #333;
  line-height: 1.44rem;
  font-size: 0.37333333rem;
}
.footer .footer_nav .nav_subactivi {
  text-align: center;
  background-color: #FF530B;
}
.footer .footer_nav .nav_subactivi .nav_text {
  color: #fff;
  line-height: 1.44rem;
  font-size: 0.37333333rem;
}
