@import "base_mob.css";
.warp {
  width: 100%;
  height: 100%;
  max-width: 540px;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.warp .pay_suc {
  width: 100%;
  padding: 1.46666667rem 0.66666667rem 0.66666667rem;
}
.warp .pay_suc .payscu_icon {
  display: block;
  width: 1.92rem;
  margin: 0 auto 0.32rem;
}
.warp .pay_suc .pay_txt {
  text-align: center;
  font-size: 0.64rem;
  line-height: 0.88rem;
  color: #FF4539;
  padding-bottom: 0.32rem;
}
.warp .pay_suc .pay_intr {
  width: 100%;
  padding: 0.32rem 0.48rem;
  background-color: #FFF7F4;
  margin-bottom: 0.8rem;
}
.warp .pay_suc .pay_intr p {
  font-size: 0.34666667rem;
  line-height: 0.69333333rem;
  color: #666666;
}
.warp .pay_suc .supp_btn {
  display: block;
  width: 5.97333333rem;
  height: 1.12rem;
  line-height: 1.12rem;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 0.34666667rem;
  background-color: #FF530B;
  -webkit-border-radius: 0.56rem 0.56rem;
  -moz-border-radius: 0.56rem 0.56rem;
  -ms-border-radius: 0.56rem 0.56rem;
  -o-border-radius: 0.56rem 0.56rem;
  border-radius: 0.56rem 0.56rem;
}
.warp .nopay {
  width: 100%;
  padding: 3.06666667rem 0.66666667rem 0.66666667rem;
}
.warp .nopay .regret_icon {
  display: block;
  margin: 0 auto;
  width: 4.48rem;
}
.warp .nopay .regret_txt {
  text-align: center;
  padding-top: 0.58666667rem;
  font-size: 0.37333333rem;
  line-height: 0.64rem;
  color: #999999;
}
.warp .hyzpay {
  width: 100%;
  padding-bottom: 1.25333333rem;
}
.warp .hyzpay .paypages {
  display: block;
  width: 100%;
}
.warp .pay_btn {
  width: 100%;
  position: fixed;
  max-width: 540px;
  z-index: 10;
  bottom: 0;
  height: 1.25333333rem;
  background-color: #FF530B;
}
.warp .pay_btn a {
  display: block;
  font-size: 0.37333333rem;
  line-height: 1.25333333rem;
  text-align: center;
  color: #fff;
}
