@import "../base_mob.css";
.messPage {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 9999;
  overflow: auto;
  padding: 0.4rem;
  background-color: #fff;
}
.messPage :-moz-placeholder {
  color: #A1A1A1;
  opacity: 1;
  font-size: 0.3rem;
}
.messPage ::-moz-placeholder {
  color: #A1A1A1;
  opacity: 1;
  font-size: 0.3rem;
}
.messPage textarea:-ms-input-placeholder {
  color: #A1A1A1;
  opacity: 1;
  font-size: 0.3rem;
}
.messPage textarea::-webkit-input-placeholder {
  color: #A1A1A1;
  opacity: 1;
  font-size: 0.3rem;
}
.messPage .messTitle {
  text-align: left;
  font-size: 0.5rem;
  line-height: 0.65rem;
  padding: 0.53333333rem 0;
}
.messPage .font13 {
  width: 100%;
  height: 3rem;
  padding: 0.26666667rem;
  position: relative;
  font-size: 0.34rem;
  border: 1px solid #F2F2F2;
  -webkit-border-radius: 0.17333333rem;
  -moz-border-radius: 0.17333333rem;
  -ms-border-radius: 0.17333333rem;
  -o-border-radius: 0.17333333rem;
  border-radius: 0.17333333rem;
}
.messPage .font13 .txtarebox {
  width: 100%;
  height: 100%;
  font-size: 0.32rem;
  line-height: 0.6rem;
  color: #333;
}
.messPage .font13 p {
  display: none;
  padding-right: 0.2rem;
  position: absolute;
  right: 0.26666667rem;
  bottom: 0.26666667rem;
  color: #BCBCBC;
  font-size: 0.3rem;
}
.messPage .font13 p span {
  color: #ff9933;
}
.messPage .contentBtn {
  width: 100%;
  padding: 0.53333333rem 0.4rem;
}
.messPage .contentBtn li {
  float: right;
  font-size: 0.38rem;
}
.messPage .contentBtn .submitCont {
  color: #0099FF;
  padding-left: 0.4rem;
}
.messPage .contentBtn .cancelCont {
  color: #949494;
  border-right: 1px solid #F2F2F2;
  padding: 0 0.4rem;
}
.warp {
  width: 100%;
  max-width: 540px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.warp .askDetails {
  width: 100%;
  height: auto;
}
.warp .askDetails .bannerTop {
  width: 100%;
  height: 3.5rem;
}
.warp .askDetails .askTitle {
  text-align: center;
  font-size: 0.55rem;
  padding: 0.53333333rem 0.4rem 0.13333333rem;
}
.warp .askDetails .audioDiv {
  width: 100%;
  padding: 0.4rem;
}
.warp .askDetails .audioDiv .section {
  font-size: 0.32rem;
  font-weight: 400;
  font-style: normal;
  line-height: 0.5rem;
  text-align: left;
  overflow: visible!important;
}
.warp .askDetails .audioDiv .section .sectionTxt {
  font-size: 0.32rem;
  color: #515151;
  padding-top: 0.2rem;
}
.warp .askDetails .audioDiv .section .audioContTime {
  padding-top: 0.2rem;
  color: #BCBCBC;
}
.warp .askDetails .audioDiv .section .topaudio .topaudioBox {
  position: relative;
  height: 20px;
  padding: 0 1.3rem;
  overflow: hidden;
}
.warp .askDetails .audioDiv .section .topaudio .topaudioBox .txt {
  position: absolute;
  left: 0.13333333rem;
  top: 0;
  font-size: 0.3rem;
  color: #AEAEAE;
  padding-top: 0.08rem;
}
.warp .askDetails .audioDiv .section .topaudio .topaudioBox .txt2 {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 0.3rem;
  color: #AEAEAE;
  padding-top: 0.08rem;
}
.warp .askDetails .audioDiv .section .topaudio .topaudioBox .audioLine {
  width: 100%;
  height: 100%;
  position: relative;
}
.warp .askDetails .audioDiv .section .topaudio .topaudioBox .audioLine .lineaft {
  display: block;
  width: 0.15454px;
  height: 0.10666667rem;
  position: absolute;
  left: 0;
  top: 0.24rem;
  z-index: 1;
  background: #ff9933;
}
.warp .askDetails .audioDiv .section .topaudio .topaudioBox .audioLine:before {
  content: '';
  width: 100%;
  height: 0.10666667rem;
  position: absolute;
  left: 0;
  top: 0.24rem;
  z-index: 1;
  background: #f2f2f2;
}
.warp .askDetails .audioDiv .section .topaudio .topaudioBox .circle {
  background: #ff9933;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  width: 0.28rem;
  height: 0.28rem;
  display: block;
  position: absolute;
  left: 0.15454px;
  top: 0.14rem;
  z-index: 55;
  border-radius: 100%;
}
.warp .askDetails .audioDiv .recordNum {
  text-align: center;
  font-size: 0.3rem;
  color: #BCBCBC;
  padding: 0.53333333rem 0;
}
.warp .askDetails .audioDiv .audiohandle {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding-top: 0.6rem;
}
.warp .askDetails .audioDiv .audiohandle li {
  flex: 1;
  text-align: center;
}
.warp .askDetails .audioDiv .audiohandle .unuseable {
  padding: 0.2rem 0;
  position: relative;
}
.warp .askDetails .audioDiv .audiohandle .unuseable .shareSpan {
  padding-left: 0.4rem;
  background-image: url(../../images/fission/shareicon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.4rem 0.4rem;
}
.warp .askDetails .audioDiv .audiohandle .unuseable .unuseabletxt {
  padding-top: 0.21333333rem;
  font-size: 0.3rem;
  color: #BCBCBC;
}
.warp .askDetails .audioDiv .audiohandle .playDiv .playBtn {
  width: 1.6rem;
  height: 1.6rem;
  background: url(../../images/fission/play.png) no-repeat center center;
  background-size: 100% 100%;
  display: block;
  margin: 0 auto;
}
.warp .askDetails .audioDiv .audiohandle .playDiv .play {
  width: 1.6rem;
  height: 1.6rem;
  background: url(../../images/fission/play.png) no-repeat center center;
  background-size: 100% 100%;
  display: block;
  margin: 0 auto;
}
.warp .askDetails .audioDiv .audiohandle .playDiv .pause {
  width: 1.61rem !important;
  height: 1.61rem !important;
  background: url(../../images/fission/pause.png) no-repeat center center !important;
  background-size: 100% 100% !important;
  display: block !important;
  margin: 0 auto !important;
}
.warp .askDetails .audioDiv .audiohandle .useable {
  padding: 0.2rem 0;
  position: relative;
}
.warp .askDetails .audioDiv .audiohandle .useable .graySpan {
  padding-left: 0.4rem;
  background-image: url(../../images/fission/zanGray.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.4rem;
}
.warp .askDetails .audioDiv .audiohandle .useable .oraSpan {
  padding-left: 0.4rem;
  background-image: url(../../images/fission/zanOra.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0.55rem;
}
.warp .askDetails .audioDiv .audiohandle .useable i {
  width: 2.66666667rem;
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -0.8rem;
  display: none;
  font-style: normal;
  color: #ff9933;
}
.warp .askDetails .audioDiv .audiohandle .useable .useableGray {
  padding-top: 0.21333333rem;
  font-size: 0.3rem;
  color: #BCBCBC;
}
.warp .askDetails .audioDiv .audiohandle .useable .useableOra {
  padding-top: 0.21333333rem;
  font-size: 0.3rem;
  color: #FF9933;
}
.warp .askDetails .askCon {
  width: 100%;
  height: auto;
  margin-top: 0.2rem;
  padding: 0.4rem 0.4rem;
  border-top: 1px solid #F2F2F2;
}
.warp .askDetails .askCon .contentTop {
  padding-bottom: 0.3rem;
}
.warp .askDetails .askCon .contentTop img {
  width: 12%;
  float: left;
}
.warp .askDetails .askCon .contentTop .topText {
  width: 88%;
  float: left;
  padding-left: 0.3rem;
  padding-top: 0.3rem;
}
.warp .askDetails .askCon .contentTop .topText h2 {
  font-size: 0.38rem;
  color: rgba(255, 153, 51, 0.6);
  display: table-cell;
  vertical-align: bottom;
  padding-bottom: 0.3rem;
}
.warp .askDetails .askCon .contentTop .topText .contentTaskSkill {
  color: #868686;
  font-size: 0.34rem;
  padding-bottom: 0.2rem;
}
.warp .askDetails .askCon .contentTop .topText .contentTaskDetail {
  color: #868686;
  font-size: 0.34rem;
  line-height: 0.7rem;
}
.warp .askDetails .askCon .bannerVipImg {
  width: 100%;
}
.warp .askDetails .askButtonWrite {
  display: block;
  width: 80%;
  background-color: #F39D39;
  text-align: center;
  text-decoration: none;
  color: #fff;
  font-size: 0.38rem;
  padding: 0.22rem;
  border-radius: 100px;
  margin: 0.5rem auto;
}
.warp .askDetails .askRecommend {
  width: 100%;
  padding: 0.3rem 0.4rem 1rem;
  background-color: #F2F2F2;
}
.warp .askDetails .askRecommend .recommendTit {
  font-size: 0.38rem;
  color: rgba(255, 153, 51, 0.6);
  margin: 0.3rem 0 0.5rem;
  background: url(../../images/fission/recomend.png) no-repeat left center;
  background-size: 0.6rem;
  padding-left: 0.7rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .askDetails .askRecommend .recommendCon {
  width: 100%;
  min-height: 2rem;
  border: 1px solid #F2F2F2;
  border-bottom: none;
  background-color: #fff;
  -webkit-border-radius: 0.08rem;
  -moz-border-radius: 0.08rem;
  -ms-border-radius: 0.08rem;
  -o-border-radius: 0.08rem;
  border-radius: 0.08rem;
  -webkit-box-shadow: 1px 2px 3px rgba(161, 161, 161, 0.2);
  -moz-box-shadow: 1px 2px 3px rgba(161, 161, 161, 0.2);
  -ms-box-shadow: 1px 2px 3px rgba(161, 161, 161, 0.2);
  -o-box-shadow: 1px 2px 3px rgba(161, 161, 161, 0.2);
  box-shadow: 1px 2px 3px rgba(161, 161, 161, 0.2);
  padding: 0.4rem 0.3rem;
  margin-bottom: 0.4rem;
}
.warp .askDetails .askRecommend .recommendCon .recommendImg {
  width: 14%;
}
.warp .askDetails .askRecommend .recommendCon .recommendRight {
  width: 86%;
  padding-left: 0.13333333rem;
}
.warp .askDetails .askRecommend .recommendCon .recommendRight h3 {
  font-size: 0.36rem;
  color: #333;
  padding-top: 0.2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .askDetails .askRecommend .recommendCon .recommendRight p {
  font-size: 0.3rem;
  color: #BCBCBC;
  padding-top: 0.2rem;
}
