@import "base_bast.css";
.kinder_lay {
  display: none;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  min-width: 860px;
  position: fixed;
  top: 0;
  overflow: auto;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}
.kinder_lay .kinder_list {
  width: 100%;
  padding: 50px;
}
.kinder_lay .kinder_list .deta_share {
  width: 100%;
  min-height: 500px;
  padding: 50px 30px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.kinder_lay .kinder_list .deta_share .kinder_top {
  position: relative;
}
.kinder_lay .kinder_list .deta_share .kinder_top .kinder_tit {
  font-size: 20px;
  color: #333;
  font-weight: 800;
  padding-bottom: 30px;
}
.kinder_lay .kinder_list .deta_share .kinder_top .kinder_close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
}
.kinder_lay .kinder_list .deta_share .biuuu_city_list {
  min-height: 450px;
}
.kinder_lay .kinder_list .deta_share .biuuu_city_list li {
  cursor: pointer;
  padding: 15px;
  min-height: 93px;
  border-bottom: 1px solid #EEEEEE;
}
.kinder_lay .kinder_list .deta_share .biuuu_city_list li .news_img {
  display: block;
  width: 45px;
  height: 45px;
  margin-top: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #dddddd;
}
.kinder_lay .kinder_list .deta_share .biuuu_city_list li .news_activity {
  width: 95%;
  float: left;
  padding: 0 0 0 20px;
  position: relative;
}
.kinder_lay .kinder_list .deta_share .biuuu_city_list li .news_activity h4 {
  font-size: 14px;
  margin: 9px 0 16px;
  height: 20px;
  line-height: 20px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.kinder_lay .kinder_list .deta_share .biuuu_city_list li .news_activity .like_txt {
  font-size: 10px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.kinder_lay .kinder_list .deta_share .biuuu_city_list li .magic-checkbox {
  display: block !important;
  position: absolute;
  right: -10px;
  top: 13px;
}
.kinder_lay .kinder_list .deta_share .biuuu_city_list li:nth-last-child(1) {
  border-bottom: none;
}
.kinder_lay .kinder_list .deta_share .biuuu_city_list li:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}
.submess_lay {
  display: none;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  min-width: 860px;
  position: fixed;
  top: 0;
  overflow: auto;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.7);
}
.submess_lay .kinder_list {
  width: 100%;
  padding: 50px;
}
.submess_lay .kinder_list .deta_share {
  width: 100%;
  min-height: 500px;
  padding: 50px 30px;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.submess_lay .kinder_list .deta_share .kinder_top {
  position: relative;
}
.submess_lay .kinder_list .deta_share .kinder_top .kinder_tit {
  font-size: 20px;
  color: #333;
  font-weight: 800;
  padding-bottom: 30px;
}
.submess_lay .kinder_list .deta_share .kinder_top .kinder_close {
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
}
.submess_lay .kinder_list .deta_share .region_mess {
  padding: 10px 0;
}
.submess_lay .kinder_list .deta_share .region_mess .region_txt {
  font-size: 14px;
  color: #333;
  line-height: 32px;
}
.submess_lay .kinder_list .deta_share .record_ul {
  width: 100%;
  float: left;
  padding: 20px 0;
}
.submess_lay .kinder_list .deta_share .record_ul .record_list {
  float: left;
  width: 12.5%;
  margin-bottom: 10px;
}
.submess_lay .kinder_list .deta_share .record_ul .record_list .list_img {
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #dddddd;
}
.submess_lay .kinder_list .deta_share .record_ul .record_list .list_name {
  font-size: 14px;
  margin: 10px;
  color: #333;
  height: 20px;
  line-height: 20px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.submess_lay .kinder_list .deta_share .record_ul .record_list .list_time {
  font-size: 10px;
  color: #999;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.submess_lay .kinder_list .deta_share .check-txt {
  padding: 20px;
  text-align: center;
  font-size: 10px;
  color: #999;
}
.submess_lay .kinder_list .deta_share .mine_div {
  width: 100%;
  margin-top: 50px;
}
.submess_lay .kinder_list .deta_share .mine_div .sure_btn {
  display: block;
  margin: 0 auto;
  width: 140px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  background-color: #169bd5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.submess_lay .kinder_list .deta_share .suresuc_p {
  padding: 50px 0;
  font-size: 14px;
  color: #333;
}
.submess_lay .kinder_list .deta_share .suresuc {
  width: 100%;
}
.submess_lay .kinder_list .deta_share .suresuc .suresuc_btn {
  display: block;
  width: 140px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  background-color: #169bd5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.submess_lay .kinder_list .deta_share .suresuc .suresuc_span {
  font-size: 12px;
  color: #FF0000;
  line-height: 40px;
  padding-left: 20px;
}
.warp {
  width: 100%;
  height: auto;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /*清除点击高亮效果*/
}
.warp .hrader_nav {
  width: 100%;
  height: 120px;
  min-width: 1228px;
  padding: 0 106px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}
.warp .hrader_nav .home_header {
  height: 120px;
  margin: 0 auto;
}
.warp .hrader_nav .home_header .hyzlogo_img {
  float: left;
  width: 50px;
  margin: 35px 0;
  cursor: pointer;
}
.warp .hrader_nav .home_header .manaplat {
  float: left;
  font-size: 24px;
  color: #181818;
  padding-left: 20px;
  line-height: 120px;
}
.warp .list_container {
  width: 100%;
  height: 100%;
  padding: 50px 106px;
}
.warp .list_container ::-webkit-input-placeholder {
  font-size: 14px;
  color: #999;
}
.warp .list_container ::-moz-placeholder {
  font-size: 14px;
  color: #999;
}
.warp .list_container :-ms-input-placeholder {
  font-size: 14px;
  color: #999;
}
.warp .list_container input:-moz-placeholder {
  font-size: 14px;
  color: #999;
}
.warp .list_container .cont_region {
  width: 100%;
  height: 100%;
  min-width: 1228px;
  position: relative;
}
.warp .list_container .cont_region .region_title {
  font-size: 18px;
  color: #333;
  padding-bottom: 20px;
}
.warp .list_container .cont_region .article_region {
  width: 70%;
  padding: 20px 20px;
  border-right: 1px solid #EEEEEE;
}
.warp .list_container .cont_region .article_region .search_div {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
}
.warp .list_container .cont_region .article_region .search_div .search_inp {
  width: 80%;
  height: 43px;
  line-height: 43px;
  font-size: 14px;
  color: #333;
  padding: 0 20px;
  background-color: #F2F2F2;
}
.warp .list_container .cont_region .article_region .search_div .search_btn {
  width: 20%;
  text-align: center;
  font-size: 16px;
  color: #FF9933;
  line-height: 43px;
}
.warp .list_container .cont_region .article_region #biuuu_city_list {
  min-height: 450px;
}
.warp .list_container .cont_region .article_region #biuuu_city_list li {
  cursor: pointer;
  padding: 15px 0;
  min-height: 93px;
  border-bottom: 1px solid #EEEEEE;
}
.warp .list_container .cont_region .article_region #biuuu_city_list li .news_img {
  width: 10px;
  height: 15px;
  margin-top: 23.5px;
  margin-right: 20px;
}
.warp .list_container .cont_region .article_region #biuuu_city_list li .news_activity {
  width: 90%;
  padding: 0 20px;
}
.warp .list_container .cont_region .article_region #biuuu_city_list li .news_activity h4 {
  font-size: 14px;
  margin: 9px 0 16px;
  height: 20px;
  line-height: 20px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .list_container .cont_region .article_region #biuuu_city_list li .news_activity .like_txt {
  font-size: 10px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .list_container .cont_region .article_region #biuuu_city_list li:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}
.warp .list_container .cont_region .article_region #pageGro {
  position: relative;
  padding: 20px 20px 0;
}
.warp .list_container .cont_region .article_region #pageGro div {
  width: 100%;
  height: 28px;
  text-align: center;
  position: relative;
}
.warp .list_container .cont_region .article_region #pageGro div a {
  display: none;
}
.warp .list_container .cont_region .article_region #pageGro .on {
  font-size: 14px;
  color: #FF530B !important;
}
.warp .list_container .cont_region .article_region #pageGro .layui-laypage .layui-laypage-curr em {
  font-size: 20px !important;
  color: #FF530B !important;
}
.warp .list_container .cont_region .article_region #pageGro .layui-laypage-limits {
  position: absolute;
  left: -10px;
  border: none;
}
.warp .list_container .cont_region .article_region #pageGro .layui-laypage-limits select {
  height: 28px;
  line-height: 28px;
  border: none;
  padding: 0;
  background-color: #fff;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.warp .list_container .cont_region .article_region #pageGro .layui-laypage-limits select::-ms-expand {
  display: none;
}
.warp .list_container .cont_region .article_region #pageGro .layui-laypage-count {
  float: left;
  position: absolute;
  left: 70px;
}
.warp .list_container .cont_region .article_region #pageGro .layui-laypage .layui-laypage-curr {
  position: absolute;
  right: 240px;
}
.warp .list_container .cont_region .article_region #pageGro .layui-laypage .layui-laypage-skip {
  height: 28px;
  font-size: 14px;
  line-height: 28px;
  position: absolute;
  right: 0;
}
.warp .list_container .cont_region .article_region #pageGro .pageUp {
  position: absolute;
  right: 300px;
  display: block;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  line-height: 28px;
}
.warp .list_container .cont_region .article_region #pageGro .pageDown {
  position: absolute;
  right: 180px;
  display: block;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  line-height: 28px;
}
.warp .list_container .cont_region .garden_region {
  width: 30%;
  padding: 20px 20px;
}
.warp .list_container .cont_region .garden_region .garden_num {
  line-height: 43px;
  font-size: 16px;
  color: #333;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
}
.warp .list_container .cont_region .garden_region .garden_list {
  min-height: 450px;
}
.warp .list_container .cont_region .garden_region .garden_list .garden_li {
  cursor: pointer;
  padding: 15px;
  min-height: 93px;
  border-bottom: 1px solid #EEEEEE;
}
.warp .list_container .cont_region .garden_region .garden_list .garden_li .garden_logo {
  width: 45px;
  height: 45px;
  margin-top: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #dddddd;
}
.warp .list_container .cont_region .garden_region .garden_list .garden_li .garden_mess {
  width: 82%;
  padding-left: 10px;
}
.warp .list_container .cont_region .garden_region .garden_list .garden_li .garden_mess .garden_name {
  font-size: 14px;
  margin: 9px 0 16px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .list_container .cont_region .garden_region .garden_list .garden_li .garden_mess .garden_p {
  font-size: 10px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .list_container .cont_region .garden_region .garden_list .garden_li:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}
.warp .list_container .cont_region .garden_region .look_div {
  padding-top: 30px;
}
.warp .list_container .cont_region .garden_region .look_div .look_button {
  display: block;
  width: 140px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  margin: 0 auto;
  font-size: 14px;
  color: #999;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.warp .article_details {
  width: 100%;
  height: 100%;
  padding: 20px 106px;
}
.warp .article_details .details_container {
  width: 100%;
  height: 100%;
  min-width: 1228px;
  position: relative;
}
.warp .article_details .details_container .details_title {
  padding: 20px 0;
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #EEEEEE;
}
.warp .article_details .details_container .container_content {
  width: 100%;
  padding-top: 30px;
}
.warp .article_details .details_container .container_content .article {
  width: 375px;
  padding: 20px 20px 20px;
  border-right: 1px solid #EEEEEE;
}
.warp .article_details .details_container .container_content .article .article_title {
  font-size: 16px;
  color: #333;
  text-align: center;
  font-weight: 800;
  padding-bottom: 20px;
}
.warp .article_details .details_container .container_content .article .article_introduce {
  font-size: 14px;
  color: #333;
  line-height: 25px;
  letter-spacing: 2px;
  text-indent: 35px;
  padding-bottom: 20px;
}
.warp .article_details .details_container .container_content .article .article_img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.warp .article_details .details_container .container_content .record {
  width: 850px;
  padding: 20px 0 0 30px;
}
.warp .article_details .details_container .container_content .record .record_title {
  font-size: 16px;
  color: #333;
  padding-bottom: 20px;
}
.warp .article_details .details_container .container_content .record .record_subtitle {
  font-size: 10px;
  color: #999;
}
.warp .article_details .details_container .container_content .record .record_region {
  width: 100%;
  padding: 30px 20px 10px;
  border-bottom: 1px solid #EEEEEE;
}
.warp .article_details .details_container .container_content .record .record_region .record_ul {
  width: 80%;
  float: left;
}
.warp .article_details .details_container .container_content .record .record_region .record_ul .record_list {
  float: left;
  width: 20%;
  margin-bottom: 10px;
}
.warp .article_details .details_container .container_content .record .record_region .record_ul .record_list .list_img {
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #dddddd;
}
.warp .article_details .details_container .container_content .record .record_region .record_ul .record_list .list_name {
  font-size: 14px;
  margin: 10px;
  color: #333;
  height: 20px;
  line-height: 20px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .article_details .details_container .container_content .record .record_region .record_ul .record_list .list_time {
  font-size: 10px;
  color: #999;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .article_details .details_container .container_content .record .record_region .look_all {
  display: block;
  width: 20%;
  text-align: right;
  line-height: 100px;
  font-size: 16px;
  color: #0099FF;
  letter-spacing: 2px;
}
.warp .article_details .push_div {
  padding-top: 30px;
}
.warp .article_details .push_div .push_button {
  display: block;
  width: 140px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  margin: 0 auto;
  font-size: 14px;
  color: #999;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.warp .push_kinder {
  width: 100%;
  height: 100%;
  padding: 20px 106px;
}
.warp .push_kinder .push_container {
  width: 100%;
  height: 100%;
  min-width: 1228px;
  position: relative;
}
.warp .push_kinder .push_container .push_title {
  padding: 20px 0;
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #EEEEEE;
}
.warp .push_kinder .push_container .push_content {
  width: 100%;
  padding-top: 30px;
}
.warp .push_kinder .push_container .push_content .article {
  width: 375px;
  padding: 20px;
}
.warp .push_kinder .push_container .push_content .article .article_title {
  font-size: 16px;
  color: #333;
  font-weight: 800;
  text-align: center;
  padding-bottom: 20px;
}
.warp .push_kinder .push_container .push_content .article .article_introduce {
  font-size: 14px;
  color: #333;
  line-height: 25px;
  letter-spacing: 2px;
  text-indent: 35px;
  padding-bottom: 20px;
}
.warp .push_kinder .push_container .push_content .article .article_img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.warp .push_kinder .push_container .push_content .push_record {
  width: 850px;
  border-left: 1px solid #EEEEEE;
  padding: 0 20px;
}
.warp .push_kinder .push_container .push_content .push_record .push_title {
  font-size: 16px;
  color: #333;
  padding-bottom: 20px;
}
.warp .push_kinder .push_container .push_content .push_record #biuuu_city_list {
  min-height: 450px;
}
.warp .push_kinder .push_container .push_content .push_record #biuuu_city_list li {
  cursor: pointer;
  padding: 15px;
  min-height: 93px;
  border-bottom: 1px solid #EEEEEE;
}
.warp .push_kinder .push_container .push_content .push_record #biuuu_city_list li .news_img {
  display: block;
  width: 45px;
  height: 45px;
  margin-top: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #dddddd;
}
.warp .push_kinder .push_container .push_content .push_record #biuuu_city_list li .news_activity {
  width: 90%;
  float: left;
  padding: 0 20px;
  position: relative;
}
.warp .push_kinder .push_container .push_content .push_record #biuuu_city_list li .news_activity h4 {
  font-size: 14px;
  margin: 9px 0 16px;
  height: 20px;
  line-height: 20px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .push_kinder .push_container .push_content .push_record #biuuu_city_list li .news_activity .like_txt {
  font-size: 10px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .push_kinder .push_container .push_content .push_record #biuuu_city_list li .magic-checkbox {
  display: block !important;
  right: -30px;
  top: 13px;
}
.warp .push_kinder .push_container .push_content .push_record #biuuu_city_list li:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}
.warp .push_kinder .push_container .push_content .push_record .push_div {
  padding: 30px 20px;
}
.warp .push_kinder .push_container .push_content .push_record .push_div .sele_num {
  padding-right: 50px;
  font-size: 14px;
  color: #333;
  line-height: 38px;
}
.warp .push_kinder .push_container .push_content .push_record .push_div .next_button {
  display: block;
  width: 140px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  margin: 0 auto;
  font-size: 14px;
  color: #999;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.warp .sele_kinder {
  width: 100%;
  height: 100%;
  padding: 20px 106px;
}
.warp .sele_kinder .sele_container {
  width: 100%;
  height: 100%;
  min-width: 1228px;
  position: relative;
}
.warp .sele_kinder .sele_container .sele_title {
  padding: 20px 0;
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #EEEEEE;
}
.warp .sele_kinder .sele_container .sele_content {
  width: 100%;
  padding-top: 30px;
}
.warp .sele_kinder .sele_container .sele_content .article {
  width: 375px;
  padding: 20px;
}
.warp .sele_kinder .sele_container .sele_content .article .article_title {
  font-size: 16px;
  color: #333;
  font-weight: 800;
  text-align: center;
  padding-bottom: 20px;
}
.warp .sele_kinder .sele_container .sele_content .article .article_introduce {
  font-size: 14px;
  color: #333;
  line-height: 25px;
  letter-spacing: 2px;
  text-indent: 35px;
  padding-bottom: 20px;
}
.warp .sele_kinder .sele_container .sele_content .article .article_img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.warp .sele_kinder .sele_container .sele_content .sele_record {
  width: 850px;
  border-left: 1px solid #EEEEEE;
  padding: 0 20px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_title {
  font-size: 16px;
  color: #333;
  padding-bottom: 20px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_region {
  width: 100%;
  padding: 30px 20px 10px;
  border-bottom: 1px solid #EEEEEE;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_region .record_ul {
  width: 80%;
  float: left;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_region .record_ul .record_list {
  float: left;
  width: 20%;
  margin-bottom: 10px;
  position: relative;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_region .record_ul .record_list .list_img {
  display: block;
  width: 45px;
  height: 45px;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #dddddd;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_region .record_ul .record_list .list_name {
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  margin: 10px;
  color: #333;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_region .record_ul .record_list .list_time {
  font-size: 10px;
  color: #999;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_region .record_ul .record_list .close_icon {
  cursor: pointer;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_region .look_all {
  display: block;
  width: 20%;
  text-align: right;
  line-height: 100px;
  font-size: 16px;
  color: #0099FF;
  letter-spacing: 2px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time {
  width: 100%;
  padding: 30px 20px 30px;
  border-bottom: 1px solid #EEEEEE;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_title {
  font-size: 16px;
  color: #333;
  padding-bottom: 20px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content {
  width: 100%;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .sele_month {
  width: 400px;
  padding: 10px 20px;
  border-right: 1px solid #EEEEEE;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .sele_month .month {
  font-size: 22px;
  color: #333;
  font-weight: 800;
  line-height: 44px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .sele_month #schedule-box {
  width: 100%;
  padding: 35px 0;
  margin: 0 auto;
  font-size: 13px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .sele_month .schedule-hd {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 20px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .sele_month .today {
  flex: 1;
  text-align: center;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .sele_month .ul-box {
  overflow: hidden;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .sele_month .ul-box > li {
  float: left;
  width: 14.28%;
  text-align: center;
  padding: 5px 0;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .sele_month .other-month {
  color: #999999;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .sele_month .current-month {
  color: #333333;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .sele_month .today-style {
  border-radius: 50%;
  background: #58d321;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .sele_month .arrow {
  cursor: pointer;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .sele_month .dayStyle {
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 35px;
  cursor: pointer;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .sele_month .current-month > .dayStyle:hover {
  background: #00BDFF;
  color: #ffffff;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .sele_month .today-flag {
  background: #00C2B1;
  color: #fff;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .sele_month .selected-style {
  background: #00BDFF;
  color: #ffffff;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .dateTime {
  width: 350px;
  padding: 10px 20px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .dateTime .time {
  font-size: 22px;
  color: #333;
  font-weight: 800;
  line-height: 44px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .dateTime .time .startTimeCurrent {
  padding-left: 15px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .dateTime .choiceDate {
  width: 100%;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .dateTime .choiceDate .dateBox {
  width: 100%;
  background-color: #fff;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .dateTime .choiceDate .dateBox .swiper-slide-active {
  color: #FF530B;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .dateTime .choiceDate .dateBox .swiper-slide {
  line-height: 60px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .dateTime .choiceDate .dateBox .dateTime {
  width: 90%;
  margin: 0 auto;
  height: auto;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .dateTime .choiceDate .dateBox .dateTime .timeNum {
  width: 100%;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .dateTime .choiceDate .dateBox .dateTime .timeNum .startNum {
  width: 100%;
  height: 180px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .dateTime .choiceDate .dateBox .dateTime .timeNum .startNum .swiper-slide {
  font-size: 14px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .dateTime .choiceDate .dateBox .dateTime .timeNum .startNum .line {
  width: 100%;
  position: absolute;
  top: 60px;
  border-bottom: 1px solid #EEEEEE;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .dateTime .choiceDate .dateBox .dateTime .timeNum .startNum .startHour {
  float: left;
  font-size: 0.5rem;
  width: 47.5%;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .sele_time .time_content .dateTime .choiceDate .dateBox .dateTime .timeNum .startNum .startMinute {
  float: left;
  font-size: 0.5rem;
  width: 47.5%;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .push_div {
  padding: 30px 20px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .push_div .sele_num {
  padding-right: 50px;
  font-size: 14px;
  color: #333;
  line-height: 38px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .push_div .startTimeCurrent {
  padding-left: 15px;
}
.warp .sele_kinder .sele_container .sele_content .sele_record .push_div .next_button {
  display: block;
  width: 140px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  margin: 0 auto;
  font-size: 14px;
  color: #999;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
#pageGro {
  position: relative;
  padding: 20px 20px 0;
}
#pageGro div {
  width: 100%;
  height: 28px;
  text-align: center;
  position: relative;
}
#pageGro div a {
  display: none;
}
#pageGro .on {
  font-size: 14px;
  color: #FF530B !important;
}
#pageGro .layui-laypage .layui-laypage-curr em {
  font-size: 20px !important;
  color: #FF530B !important;
}
#pageGro .layui-laypage-limits {
  position: absolute;
  left: -10px;
  border: none;
}
#pageGro .layui-laypage-limits select {
  height: 28px;
  line-height: 28px;
  border: none;
  padding: 0;
  background-color: #fff;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
#pageGro .layui-laypage-limits select::-ms-expand {
  display: none;
}
#pageGro .layui-laypage-count {
  float: left;
  position: absolute;
  left: 70px;
}
#pageGro .layui-laypage .layui-laypage-curr {
  position: absolute;
  right: 240px;
}
#pageGro .layui-laypage .layui-laypage-skip {
  height: 28px;
  font-size: 14px;
  line-height: 28px;
  position: absolute;
  right: 0;
}
#pageGro .pageUp {
  position: absolute;
  right: 300px;
  display: block;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  line-height: 28px;
}
#pageGro .pageDown {
  position: absolute;
  right: 180px;
  display: block;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  line-height: 28px;
}
