@import "base_bast.css";
.warp {
  width: 100%;
  height: auto;
  max-width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /*清除点击高亮效果*/
}
.warp .hrader_nav {
  width: 100%;
  height: 120px;
  min-width: 1228px;
  padding: 0 106px;
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
}
.warp .hrader_nav .home_header {
  height: 120px;
  margin: 0 auto;
}
.warp .hrader_nav .home_header .hyzlogo_img {
  float: left;
  width: 50px;
  margin: 35px 0;
  cursor: pointer;
}
.warp .hrader_nav .home_header .manaplat {
  float: left;
  font-size: 24px;
  color: #181818;
  padding-left: 20px;
  line-height: 120px;
}
.warp .list_container {
  width: 100%;
  height: 100%;
  padding: 50px 106px;
}
.warp .list_container ::-webkit-input-placeholder {
  font-size: 14px;
  color: #999;
}
.warp .list_container ::-moz-placeholder {
  font-size: 14px;
  color: #999;
}
.warp .list_container :-ms-input-placeholder {
  font-size: 14px;
  color: #999;
}
.warp .list_container input:-moz-placeholder {
  font-size: 14px;
  color: #999;
}
.warp .list_container .cont_region {
  width: 100%;
  height: 100%;
  min-width: 1228px;
  position: relative;
}
.warp .list_container .cont_region .region_title {
  font-size: 18px;
  color: #333;
  padding-bottom: 20px;
}
.warp .list_container .cont_region .article_region {
  width: 70%;
  padding: 20px 20px;
  border-right: 1px solid #EEEEEE;
}
.warp .list_container .cont_region .article_region .search_div {
  width: 100%;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
}
.warp .list_container .cont_region .article_region .search_div .search_inp {
  width: 80%;
  height: 43px;
  line-height: 43px;
  font-size: 14px;
  color: #333;
  padding: 0 20px;
  background-color: #F2F2F2;
}
.warp .list_container .cont_region .article_region .search_div .search_btn {
  width: 20%;
  text-align: center;
  font-size: 16px;
  color: #FF9933;
  line-height: 43px;
}
.warp .list_container .cont_region .article_region #biuuu_city_list {
  min-height: 450px;
}
.warp .list_container .cont_region .article_region #biuuu_city_list li {
  cursor: pointer;
  padding: 15px 0;
  min-height: 93px;
  border-bottom: 1px solid #EEEEEE;
}
.warp .list_container .cont_region .article_region #biuuu_city_list li .news_img {
  width: 10px;
  height: 15px;
  margin-top: 23.5px;
  margin-right: 20px;
}
.warp .list_container .cont_region .article_region #biuuu_city_list li .news_activity {
  width: 90%;
  padding: 0 20px;
}
.warp .list_container .cont_region .article_region #biuuu_city_list li .news_activity h4 {
  font-size: 14px;
  margin: 9px 0 16px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .list_container .cont_region .article_region #biuuu_city_list li .news_activity .like_txt {
  font-size: 10px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .list_container .cont_region .article_region #biuuu_city_list li:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}
.warp .list_container .cont_region .article_region #pageGro {
  position: relative;
  padding: 20px 20px 0;
}
.warp .list_container .cont_region .article_region #pageGro div {
  width: 100%;
  height: 28px;
  text-align: center;
  position: relative;
}
.warp .list_container .cont_region .article_region #pageGro div a {
  display: none;
}
.warp .list_container .cont_region .article_region #pageGro .on {
  font-size: 14px;
  color: #FF530B !important;
}
.warp .list_container .cont_region .article_region #pageGro .layui-laypage .layui-laypage-curr em {
  font-size: 20px !important;
  color: #FF530B !important;
}
.warp .list_container .cont_region .article_region #pageGro .layui-laypage-limits {
  position: absolute;
  left: -10px;
  border: none;
}
.warp .list_container .cont_region .article_region #pageGro .layui-laypage-limits select {
  height: 28px;
  line-height: 28px;
  border: none;
  padding: 0;
  background-color: #fff;
  /*很关键：将默认的select选择框样式清除*/
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.warp .list_container .cont_region .article_region #pageGro .layui-laypage-limits select::-ms-expand {
  display: none;
}
.warp .list_container .cont_region .article_region #pageGro .layui-laypage-count {
  float: left;
  position: absolute;
  left: 70px;
}
.warp .list_container .cont_region .article_region #pageGro .layui-laypage .layui-laypage-curr {
  position: absolute;
  right: 240px;
}
.warp .list_container .cont_region .article_region #pageGro .layui-laypage .layui-laypage-skip {
  height: 28px;
  font-size: 14px;
  line-height: 28px;
  position: absolute;
  right: 0;
}
.warp .list_container .cont_region .article_region #pageGro .pageUp {
  position: absolute;
  right: 300px;
  display: block;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  line-height: 28px;
}
.warp .list_container .cont_region .article_region #pageGro .pageDown {
  position: absolute;
  right: 180px;
  display: block;
  cursor: pointer;
  padding: 0;
  font-size: 14px;
  line-height: 28px;
}
.warp .list_container .cont_region .garden_region {
  width: 30%;
  padding: 20px 20px;
}
.warp .list_container .cont_region .garden_region .garden_num {
  line-height: 43px;
  font-size: 16px;
  color: #333;
  padding-bottom: 20px;
  border-bottom: 1px solid #EEEEEE;
}
.warp .list_container .cont_region .garden_region .garden_list {
  min-height: 450px;
}
.warp .list_container .cont_region .garden_region .garden_list .garden_li {
  cursor: pointer;
  padding: 15px;
  min-height: 93px;
  border-bottom: 1px solid #EEEEEE;
}
.warp .list_container .cont_region .garden_region .garden_list .garden_li .garden_logo {
  width: 45px;
  height: 45px;
  margin-top: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #dddddd;
}
.warp .list_container .cont_region .garden_region .garden_list .garden_li .garden_mess {
  width: 82%;
  padding-left: 10px;
}
.warp .list_container .cont_region .garden_region .garden_list .garden_li .garden_mess .garden_name {
  font-size: 14px;
  margin: 9px 0 16px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .list_container .cont_region .garden_region .garden_list .garden_li .garden_mess .garden_p {
  font-size: 10px;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.warp .list_container .cont_region .garden_region .garden_list .garden_li:hover {
  cursor: pointer;
  background-color: #EEEEEE;
}
.warp .list_container .cont_region .garden_region .look_div {
  padding-top: 30px;
}
.warp .list_container .cont_region .garden_region .look_div .look_button {
  display: block;
  width: 140px;
  height: 38px;
  text-align: center;
  line-height: 38px;
  margin: 0 auto;
  font-size: 14px;
  color: #999;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.warp .article_details {
  width: 100%;
  height: 100%;
  padding: 20px 106px;
}
.warp .article_details .details_container {
  width: 100%;
  height: 100%;
  min-width: 1228px;
  position: relative;
}
.warp .article_details .details_container .details_title {
  padding: 20px 0;
  font-size: 18px;
  color: #333;
  border-bottom: 1px solid #EEEEEE;
}
.warp .article_details .details_container .container_content {
  width: 100%;
}
.warp .article_details .details_container .container_content .article {
  width: 375px;
  padding: 20px 0 0;
}
.warp .article_details .details_container .container_content .article .myschedule .textarea {
  display: block;
  font-size: 14px;
  color: #333;
  outline: none;
  line-height: 28px;
  letter-spacing: 2px;
  border: 1px dotted #fff;
}
.warp .article_details .details_container .container_content .article .myschedule .textarea textarea {
  width: 100%;
  color: #0099FF;
  border: 1px dotted #fff;
}
.warp .article_details .details_container .container_content .article .myschedule .rice_text {
  font-size: 10px;
  color: #FF530B;
  line-height: 14px;
  padding: 46px 0 19px;
  letter-spacing: 2px;
}
.warp .article_details .details_container .container_content .article .myschedule .rice_num {
  font-size: 30px;
  line-height: 42px;
  color: #FF530B;
  text-align: center;
  font-weight: 800;
  letter-spacing: 2px;
}
.warp .article_details .details_container .container_content .article .myschedule .rice_tit {
  font-size: 16px;
  line-height: 22px;
  color: #FF530B;
  text-align: center;
  padding-bottom: 0.4rem;
  letter-spacing: 2px;
}
.warp .article_details .details_container .container_content .article .myschedule .rice_ba::before {
  content: "";
  position: absolute;
  z-index: 555;
  width: 12px;
  height: 14px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAAAXNSR0IArs4c6QAAAglJREFUKBVdULtrFEEc/mZ2dmf37vYewcMzRgKCioKkUBAbQaJdohIbKwXBRhuxleCj8A+w0e60CzYxoIiPQq4RC/FBVIJIMCKH5HLruXe5nd2dGWdPI0e+KX6/33yPeRD8w3IwX27FmOaUyNI6ezI+PhVscMOVZEOj+WDf966a43Zuf41rlJj+nLcKZ3aOHPswLM56Mr9cL6+E6uVocfuEnTL4zBjyMRwlGqt93BBKTHLXHilZ/OmBrdMLZPb17bPbSrX7VVqENoshRtkBbNJHpBxwLwdKCJhKULG9GWZTu7bFcU2igkWUEQIec6GUBd/xIBOJHKNItUSUdOs0z9iiSCMjTuFZCkWbQ2ttLssglQCngNIExILZTx/RL+3wfU/Ebc5suJZtjIaAhJARWv0OfiddCJUiltCu69+hdyev/AilWOgb0WoUIUwzscZ6qtEzVUgKwhkMXd9TOf7KHJglpnNd0TdJGoGIESYppKYoOD4qpSJIHD3b5SaXCSFqYPgUNBvdOHlXcD1wy4JDLfO1PjybCJ12bx0aHZupVk+GWfjAcO/o9ShIxEPHZqi4PjTnaPbW3vaitanDtRNXCZnoZeIMA0PWtJPk+a8oxtf1IFlsrdxcij8eObX73IuMG4Z5zV/kHdpf6vz8JmV06drBi4839jfX/4axwo6WTDqnL+w9/2azaHj+AzRZ3qJh0mkXAAAAAElFTkSuQmCC");
  background-size: 100% 100%;
  background-position: left center;
  background-repeat: no-repeat;
  margin-left: -22px;
  margin-top: 4px;
}
.warp .article_details .details_container .container_content .article .myschedule .rice_ba::after {
  content: "";
  position: absolute;
  z-index: 555;
  width: 12px;
  height: 14px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAOCAYAAAAbvf3sAAAAAXNSR0IArs4c6QAAAglJREFUKBVdULtrFEEc/mZ2dmf37vYewcMzRgKCioKkUBAbQaJdohIbKwXBRhuxleCj8A+w0e60CzYxoIiPQq4RC/FBVIJIMCKH5HLruXe5nd2dGWdPI0e+KX6/33yPeRD8w3IwX27FmOaUyNI6ezI+PhVscMOVZEOj+WDf966a43Zuf41rlJj+nLcKZ3aOHPswLM56Mr9cL6+E6uVocfuEnTL4zBjyMRwlGqt93BBKTHLXHilZ/OmBrdMLZPb17bPbSrX7VVqENoshRtkBbNJHpBxwLwdKCJhKULG9GWZTu7bFcU2igkWUEQIec6GUBd/xIBOJHKNItUSUdOs0z9iiSCMjTuFZCkWbQ2ttLssglQCngNIExILZTx/RL+3wfU/Ebc5suJZtjIaAhJARWv0OfiddCJUiltCu69+hdyev/AilWOgb0WoUIUwzscZ6qtEzVUgKwhkMXd9TOf7KHJglpnNd0TdJGoGIESYppKYoOD4qpSJIHD3b5SaXCSFqYPgUNBvdOHlXcD1wy4JDLfO1PjybCJ12bx0aHZupVk+GWfjAcO/o9ShIxEPHZqi4PjTnaPbW3vaitanDtRNXCZnoZeIMA0PWtJPk+a8oxtf1IFlsrdxcij8eObX73IuMG4Z5zV/kHdpf6vz8JmV06drBi4839jfX/4axwo6WTDqnL+w9/2azaHj+AzRZ3qJh0mkXAAAAAElFTkSuQmCC");
  background-size: 100% 100%;
  background-position: right center;
  background-repeat: no-repeat;
  margin-top: 4px;
  margin-left: 8px;
}
.warp .article_details .details_container .container_content .article .myschedule .mar_bot {
  margin-bottom: 15px;
}
.warp .article_details .details_container .container_content .article .myschedule .mar_bott {
  margin-bottom: 30px;
}
.warp .article_details .details_container .container_content .article .myschedule .loo_text {
  font-size: 14px;
  color: #FF530B;
  line-height: 20px;
  text-align: center;
  letter-spacing: 2px;
}
.warp .article_details .details_container .container_content .article .myschedule .file_img {
  height: auto;
  position: relative;
}
.warp .article_details .details_container .container_content .article .myschedule .file_img .img {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
  margin: 0 auto;
}
.warp .article_details .details_container .container_content .article .myschedule .file_img .imgbor {
  border: 8px solid #fff;
  -webkit-box-shadow: 0 12px 25px 0 rgba(218, 218, 218, 0.5);
  -moz-box-shadow: 0 12px 25px 0 rgba(218, 218, 218, 0.5);
  box-shadow: 0 12px 25px 0 rgba(218, 218, 218, 0.5);
}
.warp .article_details .details_container .container_content .article .myschedule .file_img .imgclose {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
}
.warp .article_details .details_container .container_content .article .myschedule .file_img:hover .imgclose {
  display: block;
}
.warp .article_details .details_container .container_content .record {
  width: 850px;
  padding: 50px 0 0 30px;
}
.warp .article_details .details_container .container_content .record .record_title {
  font-size: 16px;
  color: #333;
  padding-bottom: 20px;
}
.warp .article_details .details_container .container_content .record .record_subtitle {
  font-size: 10px;
  color: #999;
}
