@import "base_mob.css";
.warp {
  width: 100%;
  height: 100%;
  max-width: 540px;
  -webkit-overflow-scrolling: touch;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
.warp .play {
  position: fixed;
  top: 0.48rem;
  right: 0.48rem;
  z-index: 555;
  width: 1.12rem !important;
  height: 1.12rem !important;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}
.warp .play img {
  display: block;
  width: 0.61866667rem;
  margin: 0.25066667rem auto;
  position: relative;
  z-index: 333;
}
.warp .pause {
  position: fixed;
  top: 0.48rem;
  right: 0.48rem;
  z-index: 555;
  width: 1.12rem !important;
  height: 1.12rem !important;
  display: block !important;
  margin: 0 auto !important;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  -webkit-animation: rotating 1.2s linear infinite;
  -moz-animation: rotating 1.2s linear infinite;
  -ms-animation: rotating 1.2s linear infinite;
  -o-animation: rotating 1.2s linear infinite;
  animation: rotating 1.2s linear infinite;
}
.warp .pause img {
  display: block;
  width: 0.61866667rem;
  margin: 0.25066667rem auto;
  position: relative;
  z-index: 333;
}
.warp .arrow_next {
  display: block;
  width: 0.85333333rem;
  height: 0.34666667rem;
  position: absolute;
  left: 50%;
  bottom: 0.8rem;
  background: url("../images/sticon/arrow_next.png") no-repeat center;
  background-size: 100% 100%;
  -webkit-animation: arrow_top 1.5s infinite ease-in-out;
  -moz-animation: arrow_top 1.5s infinite ease-in-out;
  -ms-animation: arrow_top 1.5s infinite ease-in-out;
  -o-animation: arrow_top 1.5s infinite ease-in-out;
  animation: arrow_top 1.5s infinite ease-in-out;
}
.warp .arrow_up {
  display: block;
  width: 0.85333333rem;
  height: 0.34666667rem;
  position: absolute;
  left: 50%;
  bottom: 0.8rem;
  background: url("../images/sticon/arrow_up.png") no-repeat center;
  background-size: 100% 100%;
  -webkit-animation: arrow_bot 1.5s infinite ease-in-out;
  -moz-animation: arrow_bot 1.5s infinite ease-in-out;
  -ms-animation: arrow_bot 1.5s infinite ease-in-out;
  -o-animation: arrow_bot 1.5s infinite ease-in-out;
  animation: arrow_bot 1.5s infinite ease-in-out;
}
.warp .myswiper-container {
  width: 100%;
  height: 100%;
}
.warp .myswiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}
.warp .myswiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: 100% 100%;
}
.warp .myswiper-container .home_title {
  display: block;
  width: 8.53333333rem;
  margin: 0.8rem auto 0;
}
.warp .myswiper-container .home_footer {
  position: absolute;
  bottom: 0.96rem;
  left: 50%;
  width: 8.53333333rem;
  margin-left: -4.26666667rem;
}
.warp .myswiper-container .title-1 {
  display: block;
  width: 7.92rem;
  margin: 0.66666667rem auto 0;
}
.warp .myswiper-container .intr_div {
  display: block;
  width: 8.74666667rem;
  padding: 0.26666667rem;
  margin: 0.4rem auto 0;
  -webkit-border-radius: 0.32rem;
  -moz-border-radius: 0.32rem;
  -ms-border-radius: 0.32rem;
  -o-border-radius: 0.32rem;
  border-radius: 0.32rem;
  background-color: #fff;
}
.warp .myswiper-container .intr_div .intr_bor {
  padding: 0.4rem 0.37333333rem 1.06666667rem;
  border: 0.02666667rem dashed #36d55b;
  -webkit-border-radius: 0.32rem;
  -moz-border-radius: 0.32rem;
  -ms-border-radius: 0.32rem;
  -o-border-radius: 0.32rem;
  border-radius: 0.32rem;
}
.warp .myswiper-container .intr_div .render_intr {
  color: #2B4926;
  font-size: 0.34666667rem;
  line-height: 0.8rem;
}
.warp .myswiper-container .intr_div .theme_img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.warp .myswiper-container .render_pub {
  display: block;
  width: 3.28rem;
  margin: 0.8rem auto 0;
  position: relative;
  z-index: 3;
}
.warp .myswiper-container .culture_div {
  display: block;
  width: 8.74666667rem;
  padding: 0.26666667rem;
  margin: -0.50666667rem auto 0;
  -webkit-border-radius: 0.32rem;
  -moz-border-radius: 0.32rem;
  -ms-border-radius: 0.32rem;
  -o-border-radius: 0.32rem;
  border-radius: 0.32rem;
  background-color: #fff;
  position: relative;
}
.warp .myswiper-container .culture_div .intr_bor {
  padding: 0.4rem 0.37333333rem 1.06666667rem;
  border: 0.02666667rem dashed #df546d;
  -webkit-border-radius: 0.32rem;
  -moz-border-radius: 0.32rem;
  -ms-border-radius: 0.32rem;
  -o-border-radius: 0.32rem;
  border-radius: 0.32rem;
}
.warp .myswiper-container .culture_div .render_intr {
  color: #2B4926;
  font-size: 0.34666667rem;
  line-height: 0.8rem;
}
.warp .myswiper-container .culture_div .theme_img {
  display: block;
  width: 100%;
  margin: 0 auto;
}
.warp .myswiper-container .culture_div .prize1_img {
  display: block;
  width: 100%;
  margin: 0.26666667rem auto;
}
.warp .myswiper-container .culture_div .advant_ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  margin-left: -0.16rem;
}
.warp .myswiper-container .culture_div .advant_ul li {
  flex: 1;
  margin-left: 0.16rem;
}
.warp .myswiper-container .culture_div .advant_ul li .advant_img {
  width: 100%;
}
.warp .myswiper-container .culture_div .envi_ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  margin-left: -0.16rem;
}
.warp .myswiper-container .culture_div .envi_ul li {
  flex: 1;
  margin-left: 0.16rem;
}
.warp .myswiper-container .culture_div .envi_ul li .advant_img {
  width: 100%;
}
.warp .myswiper-container .culture_div .mien_ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  margin-left: -0.16rem;
}
.warp .myswiper-container .culture_div .mien_ul li {
  flex: 1;
  margin-left: 0.16rem;
}
.warp .myswiper-container .culture_div .mien_ul li .mien3_img {
  width: 100%;
}
.warp .myswiper-container .culture_div .sunicon {
  position: absolute;
  top: -0.98666667rem;
  left: -0.26666667rem;
  width: 2.02666667rem;
  z-index: 2;
}
.warp .myswiper-container .culture_div .mien_img {
  display: block;
  width: 7.49333333rem;
  margin: 0.26666667rem auto;
}
.warp .myswiper-container .render4 {
  display: block;
  width: 4.74666667rem;
  margin: 0.8rem auto 0;
}
.warp .myswiper-container .acre_div {
  display: block;
  width: 8.74666667rem;
  padding: 0.26666667rem;
  margin: -0.50666667rem auto 0;
  -webkit-border-radius: 0.32rem;
  -moz-border-radius: 0.32rem;
  -ms-border-radius: 0.32rem;
  -o-border-radius: 0.32rem;
  border-radius: 0.32rem;
  background-color: #fff;
}
.warp .myswiper-container .acre_div .intr_bor {
  padding: 0.4rem 0.37333333rem 1.33333333rem;
  border: 0.02666667rem dashed #df546d;
  -webkit-border-radius: 0.32rem;
  -moz-border-radius: 0.32rem;
  -ms-border-radius: 0.32rem;
  -o-border-radius: 0.32rem;
  border-radius: 0.32rem;
}
.warp .myswiper-container .acre_div .render_acre {
  color: #2B4926;
  font-size: 0.34666667rem;
  line-height: 0.8rem;
}
.warp .myswiper-container .acre_div .render_acre .acre_size {
  color: #FF4335;
  font-size: 0.42666667rem;
  line-height: 0.8rem;
  font-weight: 800;
}
.warp .myswiper-container .footer3 {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
}
.warp .myswiper-container .render_envi {
  position: absolute;
  top: 2.26666667rem;
  left: 50%;
  width: 7.49333333rem;
  margin-left: -3.74666667rem;
  color: #2B4926;
  font-size: 0.37333333rem;
  line-height: 0.8rem;
}
.warp .myswiper-container .render_envi .envi_size {
  font-size: 0.37333333rem;
  color: #2B4926;
  font-weight: 800;
}
.warp .myswiper-container .mien_img2 {
  position: absolute;
  top: 6.4rem;
  left: 50%;
  width: 7.49333333rem;
  margin-left: -3.74666667rem;
}
.warp .myswiper-container .envi_bot {
  position: absolute;
  top: 9.62666667rem;
  left: 50%;
  width: 7.49333333rem;
  margin-left: -3.74666667rem;
  color: #2B4926;
  font-size: 0.37333333rem;
  line-height: 0.8rem;
}
.warp .myswiper-container .envi_bot .envi_size {
  font-size: 0.37333333rem;
  color: #2B4926;
  font-weight: 800;
}
.warp .myswiper-container .last_div {
  display: block;
  width: 8.74666667rem;
  padding: 0.26666667rem;
  margin: 0.42666667rem auto 0;
  -webkit-border-radius: 0.32rem;
  -moz-border-radius: 0.32rem;
  -ms-border-radius: 0.32rem;
  -o-border-radius: 0.32rem;
  border-radius: 0.32rem;
  background-color: #fff;
  position: relative;
}
.warp .myswiper-container .last_div .last_bor {
  padding: 0.26666667rem 0.37333333rem 0.42666667rem;
  border: 0.02666667rem dashed #3bc95c;
  -webkit-border-radius: 0.32rem;
  -moz-border-radius: 0.32rem;
  -ms-border-radius: 0.32rem;
  -o-border-radius: 0.32rem;
  border-radius: 0.32rem;
}
.warp .myswiper-container .last_div .last_render {
  position: absolute;
  top: -1.6rem;
  right: 0;
  z-index: 4;
  width: 2.10666667rem;
  height: 2.10666667rem;
  border: 0.08rem solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.warp .myswiper-container .last_div .mess_ul {
  width: 100%;
}
.warp .myswiper-container .last_div .mess_ul li {
  color: #2B4926;
}
.warp .myswiper-container .last_div .mess_ul li .mess_tit {
  font-size: 0.37333333rem;
  line-height: 0.8rem;
  font-weight: 800;
}
.warp .myswiper-container .last_div .mess_ul li .mess_conta {
  font-size: 0.37333333rem;
  line-height: 0.8rem;
  padding-bottom: 0.32rem;
}
.warp .myswiper-container .last_div .cord_pos {
  width: 2.88rem;
  height: 2.88rem;
  display: block;
  margin: 0.29333333rem auto;
  border: 0.16rem solid #f8f8f8;
}
.warp .myswiper-container .last_div .cord_pos img {
  width: 100%;
  height: 100%;
}
.warp .myswiper-container .last_div .cord_txt {
  text-align: center;
  font-size: 0.26666667rem;
  color: #2B4926;
  line-height: 0.8rem;
}
.warp .myswiper-container .sten_mess {
  padding-top: 0.8rem;
  padding-left: 1.25333333rem;
  font-size: 0.42666667rem;
  color: #fff;
  line-height: 0.8rem;
}
@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-moz-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-ms-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-o-keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@keyframes rotating {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}
@-webkit-keyframes arrow_top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
@-moz-keyframes arrow_top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
@-ms-keyframes arrow_top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
@-o-keyframes arrow_top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
@keyframes arrow_top {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    -moz-transform: translate(0, 5px);
    -ms-transform: translate(0, 5px);
    -o-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
@-webkit-keyframes arrow_bot {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
@-moz-keyframes arrow_bot {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
@-ms-keyframes arrow_bot {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
@-o-keyframes arrow_bot {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
@keyframes arrow_bot {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 0px);
    -moz-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    -o-transform: translate(0, 0px);
    transform: translate(0, 0px);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(0, -5px);
    -moz-transform: translate(0, -5px);
    -ms-transform: translate(0, -5px);
    -o-transform: translate(0, -5px);
    transform: translate(0, -5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
}
